<div class="hero">
    {% comment %} <div class="hero-content">
        <div class="hero-line"></div>
        <h1 class="to-animate" style="--order: 1">Kalen Wallin</h1>
        <h2 class="to-animate" style="--order: 2">Software Engineer</h2>
        <a class="explore-button " style="--order: 4" href="#row-1-container">Explore</a>
        <a class="contact-button " style="--order: 5" href="mailto:kalenwallin1@gmail.com">Contact</a>
    </div> {% endcomment %}
    <div class="hero-content-vertical">
        <div class="to-animate-line"></div>
        <h1 class="to-animate" style="--order: 1">Kalen Wallin</h1>
        <h2 class="to-animate" style="--order: 2">Software Engineer</h2>
        <a class="explore-button to-animate" style="--order: 4" href="#row-1-container">Explore</a>
        <a class="contact-button to-animate" style="--order: 5" href="mailto:kalenwallin1@gmail.com">Contact</a>
        <svg class="svg-line" height="200" width="1" style="position: absolute; top: 0; z-index: 1; left: 0;">
            <line class="path" x1="0" y1="0" x2="0" y2="200" style="stroke:rgb(255,255,255);stroke-width:2"></line>
        </svg>
        <svg class="svg-line" height="200" width="1" style="position: absolute; top: 0; z-index: 1; right: 0;">
            <line class="path" x1="0" y1="200" x2="0" y2="0" style="stroke:rgb(255,255,255);stroke-width:2"></line>
        </svg>
    </div>
    <div class="left-vignette-layer"></div>
    <div class="bottom-vignette-layer"></div>
</div>