<div class="page-nav navbar-container">
    <div class="page-navbar-icon-container">
        <a href="/">
            <img class="page-navbar-icon" src="/media/kw.png" href="/">
        </a>
    </div>
</div>

<script>
    var win = $(window);
    win.on("scroll", function (event) {
        if (window.pageYOffset > 100) {
            $('.navbar-container').css({'background-color': '#141414', 'box-shadow': '0 2px 4px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%)'});
            $('.navbar-icon').css({'filter': 'invert(0)'});
        } else {
            $('.navbar-container').css({'background-color': 'transparent', 'box-shadow': 'none'});
            $('.navbar-icon').css({'filter': 'invert(1)'});
        }
    });
</script>