{% extends 'portfolio/base.html' %}

{% block body %}{{ super }}
    {% include "portfolio/page_navbar.html" %}
    {% with backblaze_url="https://i.kalenwallin.com/file/portfoliov2" %}
    <div class="{% if page.is_game %}game{% else %}page{% endif %}">
        <div class="content">
            {% if not page.is_game %}
                {% include "portfolio/page_metadata.html" %}
                <div class="image-container">
                    <img src="{{ backblaze_url }}/media/{{ page.item.cover_image }}">
                </div>
                {% if page.story %}
                    <div class="story-container">
                        {{ page.story|safe }}
                    </div>
                {% elif page.pdf %}
                    <div class="pdf-container">

                    </div>
                {% elif page.iframe %}
                    <div class="iframe-container">

                    </div>
                {% endif %}
                {% include 'portfolio/page_heart.html' %}
            {% else %}
                <div class="game-container">
                    {{ page.iframe|safe }}
                </div>
                <div class="game-metadata">
                    {% include "portfolio/page_metadata.html" %}
                    {% include 'portfolio/page_heart.html' %}
                </div>
            {% endif %}
        </div>
    </div>
    {% endwith %}
{% endblock body %}
{% block bodyjs %}
    <script src="https://unpkg.com/htmx.org@1.6.0"></script>
    <script>
        document.body.addEventListener('htmx:configRequest', (e) => {
            e.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        });
    </script>
{% endblock bodyjs %}