<div class="preloader">
    <div class="item">
        <svg class="logo hide circle" width="150" height="150" viewBox="0 0 150 150" fill="none" xmlns="http://www.w3.org/2000/svg" id="bc">
            <g stroke="white" stroke-width="2" fill="none">
                <path d="M0,75a75,75 0 1,0 150,0a75,75 0 1,0 -150,0" />
            </g>
        </svg>
    </div>
    <div class="item">
        <svg class="logo hide circle" width="150" height="150" viewBox="0 0 150 150" fill="none" xmlns="http://www.w3.org/2000/svg" id="wc">
            <g stroke="#ff1000" stroke-width="2" fill="none">
                <path d="M0,75a75,75 0 1,0 150,0a75,75 0 1,0 -150,0" />
            </g>
        </svg>
    </div>
    <div class="logo text hide">
        <img src="https://i.kalenwallin.com/file/portfoliov2/media/kw.svg" width="100"/>
    </div>
    <div class="txt hide">
        <div class="progress"><span></span></div>
    </div>
</div>
