/* Variables */
:root {
        --black: #141414;
        --grey: #c3c3c3;
        --transparent-grey: #c3c3c314;
        --white: #f5f5f5;
        --theme: dark;
        --red: #f54242;
        --dark-grey: #848484;
}

:root {
    color-scheme: var(--theme);
    scroll-behavior: smooth;
    --swiper-navigation-color: var(--grey);
    --swiper-theme-color: var(--grey);
}

body {
    background-color: var(--black);
    color: var(--grey);
}

.page .content {
    box-shadow: 0 0 5px var(--white);
}

.date-container .metadata {
    font-size: small;
    color: var(--dark-grey);
}

.navbar-container {
    background-color: transparent;
}

.hero-line {
    border-top: 1px solid #fff;
}

.hero-line-vertical {
    border-left: 1px solid #fff;
}

.hero-content h1, .hero-content-vertical h1 {
    color: var(--white);
}

.hero-content h2, .hero-content-vertical h2 {
    color: var(--white);
}

.explore-button {
    color: black;
    background: var(--white);
    border: 1px solid var(--white);
}

.explore-button:hover {
    background: var(--grey);
}

.contact-button {
    color: var(--white);
    background: var(--transparent-grey);
    border: 1px solid var(--white);
}

.contact-button:hover {
    background: transparent;
}